﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here You can order the best Food in Town!.</p>
    <a asp-action="Index" asp-controller="Categories" class="btn btn-primary">Categories</a>
</div>
