﻿@model ItemViewModel

@using Microsoft.AspNetCore.Session;

@{
    ViewData["Title"] = "Your Cart";
}
@if (TempData["OrderError"] != null)
{
    <div class="bg-danger rounded">
        You have nothing to order!
    </div>
}

<div>
    <h1>
        Your Order
    </h1>
    @if(Model.Sum > 0)
    {
        <div class="justify-content-end">
            <a asp-controller="Orders" asp-action="DeleteAll" class="btn btn-danger">❌🛒</a>
        </div>  
    }
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Spicy</th>
                <th>Vegetarian</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.Spicy)
                        {
                            <p>✔</p>
                        }
                        else
                        {
                            <p>❌</p>
                        }
                    </td>
                    <td>
                        @if (item.Vegetarian)
                        {
                            <p>✔</p>
                        }
                        else
                        {
                            <p>❌</p>
                        }
                    </td>
                    <td>
                        <a asp-area="" asp-action="DeleteFromCart" asp-controller="Orders" asp-route-id="@item.Id" class="btn btn-danger">❌</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<div>
    Sum: @Model.Sum
</div><br />
</div>

<div>
    <a asp-controller="Categories" asp-action="Index" class="btn btn-danger">Back to Categories</a>
    <a asp-controller="Orders" asp-action="Create" class="btn btn-primary">Place Order</a>
</div>
