﻿<div class="container container-fluid align-content-center">
    <a asp-action="Register" asp-controller="Account" class="btn btn-primary">Register new Employee</a><br /><br />
    <a asp-action="Logout" asp-controller="Account" class="btn btn-primary">Logout</a><br /><br />
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Main Menu</a>
</div>
