﻿@model FoodOrder.Shared.Models.Category

@using Microsoft.AspNetCore.Session;

@{
    ViewData["Title"] = "Foods and Beverages";
    object Message = TempData["Message"] ?? "";
}
@if (TempData["Success"] != null)
{
    @if ((bool)TempData["Success"]! == true)
    {
        <div class="bg-success rounded">@Message</div>
    }
    else
    {
        <div class="bg-danger rounded">@Message</div>
    }
}

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <form asp-action="Details" class="input-group mb-3">
        <input type="text" class="form-control" name="filterString" id="filterString" />
        <input type="number" class="visually-hidden" name="id" id="id" value="@Model.Id"/>
        <div class="input-group-append">
            <input type="submit" value="🔎" class="btn btn-primary"/>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Spicy</th>
                <th>Vegetarian</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.Spicy)
                        {
                            <p>✔</p>
                        }
                        else
                        {
                            <p>❌</p>
                        }
                    </td>
                    <td>
                        @if (item.Vegetarian)
                        {
                            <p>✔</p>
                        }
                        else
                        {
                            <p>❌</p>
                        }
                    </td>
                    <td>
                        <a asp-area="" asp-action="AddToCart" asp-controller="Orders" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path">🛒</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to Categories</a>
</div>