﻿@model CategoryViewModel

@{
    ViewData["Title"] = "Categories";
    object Message = TempData["Message"] ?? "";
}
@if (TempData["Success"] != null)
{
    @if ((bool)TempData["Success"]! == true)
    {
        <div class="bg-success rounded">@Message</div>
    }
    else
    {
        <div class="bg-danger rounded">@Message</div>
    }
}

<h1>Categories</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Let's see!</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<h1>Top 10 Items</h1>
<br />
<ol class="list-group list-group-numbered">
@foreach(var item in Model.MostPopular)
{
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">
                @item.Item1
            </div>
        </div>
        <span class="btn btn-primary rounded-pill">
            <a asp-action="AddToCart" asp-route-id="@item.Item2" asp-route-returnUrl="@Context.Request.Path" asp-controller="Orders">🛒</a>
        </span>
    </li>
}
</ol>
