﻿@using Microsoft.AspNetCore.Identity
@using FoodOrder.Shared.Models
@using FoodOrder.Controllers

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<ul class="nav navbar-nav navbar-right">
		<li><a class="nav-link text-dark" asp-action="Index" asp-controller="Account">Employee Page</a></li>
	</ul>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
	</ul>
}